
* {
    box-sizing: border-box;
  }
  
  .SlidingPuzzleFigure{
    width: 30%;
    margin: 20px auto;
    border: 4px solid #ADD8E6;
    background-color: #FFE4B5;
    text-align: center;
    font-size: 1em;
    padding: 10px;
  }

  .main{
    margin: auto;
    border: 4px solid rgb(0, 0, 0);
    background-color: #FFE4B5;
  }

  body {
    font-size: 2rem;
    background-color: #fff;
    font-family: Sans-Serif;
  }
  ol, ul {
      list-style: none;
  }
  .SlidingPuzzle {
    max-width: 95%;
    width: 13rem;
    background: #000;
    padding: 0.5rem;
  }
  
  .SlidingPuzzle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0;
  }
  
  .Tile {
    background: #fff;
    border-top: 0.3rem solid #ccc;
    border-left: 0.3rem solid #ccc;
    border-right: 0.3rem solid #787878;
    border-bottom: 0.3rem solid #787878;
    padding: 20% 0.2rem;
    width: 4rem;
    height: 4rem;
    text-align: center;
  }
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .moves {
    font-size: 0.8rem;
    margin: 1rem 0.5rem 1rem 1rem;
    background: #3e9dd6;
    padding: 0.6rem 0.8rem;
    color: #fff;
    border-radius: 0.3rem;
    white-space: nowrap;
  }
  #movesnum {
    background: #eee;
    padding: 0.2rem 0.5rem;
    color: #000;
    border-radius: 0.3rem;
    font-weight: bold;
  }
  button {
    font-size: 0.8rem;
    margin: 0.5rem;
    padding: 0.5rem 0.8rem;
    color: #333;
    border-radius: 0.3rem;
    white-space: nowrap;
  }
